<div>
<form>
  <label for="id">ID:</label>
  <input type="number" name="_id" id="id" [(ngModel)]="_id" /><br/>
  <label for="name">Name:</label>
  <input type="text" name="_name" id="name" [(ngModel)]="_name" /><br/>
  <label for="email">Email:</label>
  <input type="email" name="_email"  id="email" [(ngModel)]="_email" /><br/>
  <label for="address1">Address 1:</label>
  <input type="text" name="_address1" id="address1" [(ngModel)]="_address1" /><br/>
  <label for="address2">Address2:</label>
  <input type="text" name="_address2" id="address2" [(ngModel)]="_address2" /><br/>
  <label for="city">City:</label>
  <input type="text" name="_city" id="city" [(ngModel)]="_city" /><br/>
  <label for="Pin Code">Pin code:</label>
  <input type="number" name="_pincode" maxlength="6" id="pincode" [(ngModel)]="_pincode" /><br/>
  <label for="state">State:</label>
  <input type="text" name="_state" id="state" [(ngModel)]="_state" /><br/>
  <input type="button" (click)="callApi()" value="Submit" /><br/>
</form>
</div>  
